{% extends 'dogs/base.html' %}
{% load my_tags %}
{% block content %}

<div class="col=md-4">
    <div class="card mb-4 box-shadow">
        <div style="text-align:center;">
        <img class="card_img_top"
            src="{{ object.photo|dogs_media }}" width="348" height="320"
            alt="Card image cap">
        <div class="card-body">
            <p class="card-text">{{ object.name }}</p>
            <p class="card-text">{{ object.breed.name }}</p>
            <span class="text-muted">{{ object.birth_data|default:"-"}}</span>
        </div>
        </div>
        <div class="card-footer">
            <a class="btn btn-link" href="{%  url 'dogs:dog_update' object.pk %}">обновить</a>
            <a class="btn btn-link" href="{%  url 'dogs:dog_delete' object.pk %}">удалить</a>
        </div>
    </div>
</div>

{% endblock %}